{% extends 'base.html' %} {% block body %}
<h2>Digital Product Management - Web Form Template</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <p>
      <label for="first-name">First name:</label>
      <input type="text" id="first-name" name="fname" />
    </p>

    <p>
      <label for="sport">
        Favorite Sport:
        <select name="type" id="sport" required>
          <option value="" selected>Choose one ...</option>
          <option value="football">football</option>
          <option value="baseball">baseball</option>
          <option value="basketball">basketball</option>
        </select>
      </label>
    </p>
    <p>
      <label>Have you seen Inception?</label>
      <label for="read-yes">
        <input
          type="radio"
          id="read-yes"
          name="read"
          value="yes"
          required="required"
        />
        Yes
      </label>

      <label for="read-no">
        <input
          type="radio"
          id="read-no"
          name="read"
          value="no"
          required="required"
        />
        No
      </label>
    </p>

    <fieldset>
      <legend>Choose your favorite pizza topping</legend>
      <label for="for-pepporoni">
        <input
          type="checkbox"
          id="for-pepporoni"
          name="topping"
          value="pepporoni"
        />
        Pepporoni
      </label>

      <label for="for-sausage">
        <input
          type="checkbox"
          id="for-sausage"
          name="topping"
          value="sausage"
        />
        sausage
      </label>

      <label for="for-pineapple">
        <input
          type="checkbox"
          id="for-pineapple"
          name="topping"
          value="pineapple"
        />
        Pineapple
      </label>
    </fieldset>

    <p><input type="submit" id="submit" value="Submit" /></p>
  </form>

  <br /><br />
  {% if friends %}
  <h3>Friend List</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Favorite Sport</th>
        <th>Seen Inception?</th>
        <th>Pizza Topping</th>
      </tr>
    </thead>

    <tbody>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.name }}</td>
        <td>{{ friend.sport }}</td>
        <td>{{ friend.inception }}</td>
        <td>{{ friend.topping }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}
<nav>
  <a href="/Users/jacobswansen/Documents/github/test2/templates/about.html"> About Page </a>
</nav>
