<meta name="viewport" content="width=device-width, initial-scale=1">
<h2>Add a book to library</h2>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<hr />
<main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  <form action="/add" method="POST">
    <p>
      <label for="title">Title:</label>
      <input type="text" id="title" name="fname" />
    </p>
    <p>
      <label for="author">Author:</label>
      <input type="text" id="author" name="fname" />
    </p>
    <p>
      <label for="Pages">Pages:</label>
      <input type="text" id="Pages" name="fname" />
    </p>
    <p>
      <label>Classification?</label>
      <label for="read-fiction">
        <input
          type="radio"
          id="read-fiction"
          name="read"
          value="fiction"
          required="required"
        />
        Fiction
      </label>

      <label for="read-non-fiction">
        <input
          type="radio"
          id="read-non-fiction"
          name="read"
          value="non-fiction"
          required="required"
        />
        Non-fiction
      </label>
    </p>
  
    <fieldset>
      <legend>Details:</legend>
      <label for="for-I own this book">
        <input
          type="checkbox"
          id="for-I own this book"
          name="Details"
          value="I own this book"
        />
        I own this book
      </label><br>

      <label for="for-I've read this book">
        <input
          type="checkbox"
          id="for-I've read this book"
          name="Details"
          value="I've read this book"
        />
        I've read this book
      </label><br>

      <label for="for-I liked this book">
        <input
          type="checkbox"
          id="for-I liked this book"
          name="Details"
          value="I liked this book"
        />
        I liked this book
      </label><br>

      <label for="for-I would recommend this book to others">
        <input
          type="checkbox"
          id="for-I would recommend this book to others"
          name="Details"
          value="I would recommend this book to others"
        />
        I would recommend this book to others
      </label>
    </fieldset>

  <p>
    <label for="How did I get this book?">
      How did I get this book?:
      <select name="type" id="How did I get this book?" required>
        <option value="" selected>- Select Option - </option>
        <option value="I purchased it.">I purchased it. </option>
        <option value="It was a gift.">It was a gift.</option>
        <option value="I checked it out from the library.">I checked it out from the library.</option>
        <option value="A friend loaned it to me.">A friend loaned it to me.</option>
      </select>
    </label>
  </p>
  <p><input type="Add book" id="Add book" value="Add book" /></p>
</form>
  <p>
  <br /><br />
  
  <h3>List of books</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Classification</th>
        <th>Details</th>
        <th>Acquisition</th>
      </tr>
    </thead>

    <tbody>
      
      <tr>
        <td>The Hobbit</td>
        <td>J.R.R Tolkien</td>
        <td>295</td>
        <td>fiction</td>
        <td>read, recommend</td>
        <td>library</td>
      </tr>
      
    </tbody>
  </table>
  
</main>

<nav>
  <a href="/Users/jacobswansen/Documents/github/test2/templates/about.html"> About Page </a>
</nav>
